/****************************************
  Reset
*****************************************/

html, body, header, h1, a,
ul, li, main, button,
div, h2, h3, p, form,
label, input, tr, table, td, th, tbody {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

table { border-collapse:collapse }

ul {
  list-style: none;
}

li {
  text-decoration: none;
}


input[type="text"],
input[type="number"],
button{
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

/* Clearfix */

.group:after {
  content: "";
  display: block;
  clear: both;
}
